.container {
    display: flex;
    width: 600px;
}
.container .column {
    max-width: 100%;
    flex: 0 0 600px;
}
.container img, .container canvas {
    max-width: 100%;
}
.container canvas {
    border: 1px solid #ccc;
}

.video-container {
    width: 400px;
}

.color-cell {
    color: white;
}